/* font-family: 'Boska', serif;
font-family: 'Melodrama', serif;
font-family: 'Trench Slab', sans-serif; */


body{
    color: bisque;
   
    
}

.app {
    padding: 4rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
    
}
.heading {
    font-size : 96px;;
    font-family:'Trench Slab', sans-serif;
    align-self: center;
    margin-top: -40px;
    margin-bottom: 80px;
    color:#BFBFBF;
}

.heading span{
    color: #F23535;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar{
   
    width: 71%;
    margin: 4rem 0 2rem;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 1.25rem 5rem;
    border-radius: 4rem;
    border: none;
   
    background: #0d0f12;
    font-size:20px;
    padding-inline-start:1.2rem;
    padding-inline-end: 1.5rem;
    padding-top: 1rem;
    color:goldenrod;
    box-shadow: 0 0.3rem #2b2929;

    /* -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527; */

}

.search_bar:focus{
    outline: none;
    border: none;
    box-shadow: 0 0.4rem #dfd9d9;
}


.search_icon{
    width:50px;
    height: 50px;
    display: inline-block;

    margin-inline-start: 5px;
    margin-bottom: -25px;
    cursor: pointer;

}

.search_icon:hover{
    /* transform:translateY(-3px); */
    width:70px;
    height: 70px;
   
    
}

.search_icon:active{
    /* transform:translateY(0px); */
    width: 50px;
    height: 50px;
}

.popcorn{
    
    width: 80px;
    height:80px;

}

.container{
    
   

    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap; 
    flex-flow: row;  

    padding-top: 70px;
}

.list_of_movies {
    margin-left: 10px;
    padding-right: 200px;
    width: 1000px;
    height: 820px;
    display: flex-box;
    overflow-y: auto;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scrollbar-width: thin;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list_of_movies::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.list_of_movies {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.card{
    padding: 50px;
}

.card img{
    border-radius: 30px;
}